spring:
  application:
    name: payment-consumer

  datasource:
    url: jdbc:postgresql://localhost:5432/nano_banking_db
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
    jpa:
      hibernate:
        ddl-auto: update
      show-sql: true
      properties:
        hibernate:
          format_sql: true
          dialect: org.hibernate.dialect.PostgreSQLDialect

  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.value.default.type: com.nano.shared.dtos.PaymentCallbackRequest
      group-id: payment-callback-group
      auto-offset-reset: earliest

kafka:
  topics:
    payment-callbacks: payment-callbacks

server:
  port: 8084

logging:
  level:
    org.springframework.kafka: DEBUG
    org.apache.kafka: DEBUG
    com.nano.payment.consumer: DEBUG
